ul,li{list-style-type: none;}
ul{padding-left: 0; margin-bottom: 0;}
.list-role{margin-top: 7px;
   >li{
      >label{
         >input,>span{vertical-align: middle;}
         >input[name="roles"]{margin-top: 0; margin-right: 5px;}
      }
   }
}
.sk(@w: '12px'){width: @w;}
.table-box{margin-top: 10px;}
.txt-indent{margin-left: 40px;}
.form-horizontal{
   &.form-bordered{
      .form-group{border-bottom: none;
         >.control-label{border-right: none;}
         >div{border-left: none; .sk;}
      }
   }
   .form-group{
      >div{
         >p#qrcode{margin-bottom: 0; height: 0; overflow: hidden;}
      }
   }
}
.radio-status{
   >label{margin-bottom: 0; margin-top: 17px; margin-right: 5px;
      &:first-child{margin-left: 10px;}
      &:last-child{margin-right: 0;}
      >input[type="radio"]{margin-top: 0;}
      >span{cursor: pointer;}
      >*{vertical-align: middle;}
   }
}